<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Admin Login</h3>


            <form action="/admin" method="post" accept-charset="utf-8" class="form" role="form"> 

           
                         

              

              <div class="row">
                <div class="col-md-12 mb-4 pb-2">
              
                    {{#if mes}}
                    <p class="text-danger text-center">Invalid credential</p>
                    {{/if}}
                  

                  <div class="form-outline">
                    <input type="email" name="email" class="form-control form-control-lg" required />
                    <label class="form-label" for="emailAddress">Email</label>
                  </div>

                </div>
                <div class="col-md-12 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="tel" name="password" class="form-control form-control-lg" required/>
                    <label class="form-label" for="password">Password</label>
                  </div>

                </div>
              </div>

             

              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


